

body {
    background-size:contain ;
    
    background-color: black;
    
    color: rgb(255, 255, 0);
    size: 20px;
    font-size: larger;
    animation: color-change 6s infinite;
}

.loading{
    /* position-x: center;
    position-y: center; */
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: none;
    size: cover;
}  

.startScreen{
    display: block;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    padding: 70px 0;
    font-size: xx-large;
    font-size: 50px;
    animation: color-change 6s infinite;
}
@keyframes color-change {
    0% {
        color: blue;
      }
      10% {
        color: #8e44ad;
      }
      20% {
        color: #1abc9c;
      }
      30% {
        color: #d35400;
      }
      40% {
        color: blue;
      }
      50% {
        color: #34495e;
      }
      60% {
        color: blue;
      }
      70% {
        color: #2980b9;
      }
      80% {
        color: #f1c40f;
      }
      90% {
        color: #2980b9;
      }
      100% {
        color: pink;
      }
    
    /* 0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
    0% {color:red;}
    50% {color:rgb(0, 255, 76)}
    100%{color:aquamarine}
    0%{color:aquamarine}
    50%{color:aqua}
    100%{color:gold} */
  }
.player{
    display: block;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    padding: 70px 0;
    font-size: xx-large;
    display:none;
}
.nounInput{
    display: none;
}
.nounInput2{
    display: none;
}
.nounInput3{
    display: none;
}
.nounInput4{
    display: none;
}
.nounInput5{
    display: none;
}
 
.pressSSstart{
    size: xx-large;
}
.votingPage{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: none;
    size: cover;
}
.selectWho{
    
    display: block;
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    padding: 70px 0;
    font-size: xx-large;
}
.submittButton{
    color: cyan;
    display: block;
}
.madLibPrintout{
    color: rgb(4, 0, 255);
    display:none
}
.p1vote{
    display:none;
    color: rgb(255, 0, 242);
}
.p2vote{
    display:none;
    color: rgb(0, 255, 76);
}
.p3vote{
    display:none;
    color: rgb(255, 0, 102);
}
.p4vote{
    display:none;
    color: rgb(0, 179, 255);
}
.p5vote{
    color: rgb(187, 255, 0);
    display:none;
}
/* .trolling{
    display:none;
    font-size: xx-large;
    
} */
.giphyy{
    display: none;
    background-image:url('200.webp'); 
}
.umm{
    display: none;
    
}
.cclear{
    display:none
}
.done{
    display:none
}
.show{
    display:none
}