

body {
    background-size:contain ;
    
    background-color: black;
    
    color: rgb(55, 255, 0);
    size: 20px;
    font-size: larger;
    /* background-image:url('ar.jpg'); */
 
}

.loading{
    /* position-x: center;
    position-y: center; */
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: none;
    size: cover;
}  

.startScreen{
    display: block;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    padding: 70px 0;
    font-size: xx-large;
}
    
.madLibInput{
    display: none;
}
.pressSSstart{
    size: xx-large;
}
.votingPage{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: none;
    size: cover;
}
.selectWho{
    
    display: block;
    margin: auto;        width: 60%;
    border: px solid #73AD21;
    padding: 10px;
    text-align: center;
    padding: 70px 0;
    font-size: xx-large;
}